<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<!-- ログの出力先を指定 -->
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value=".\logs\log_" />
			<!-- ファイル名の日付部分 -->
			<param name="DatePattern" value='yyyyMMdd_HHmmss".log"' />
			<!-- 日付ごとにファイルを作成することを指定 -->
			<param name="RollingStyle" value="date" />
			<!-- ログ・ファイル名が固定ではないので“false”を指定 -->
			<param name="StaticLogFileName" value="false" />
			<!-- 追加書き込み -->
			<param name="AppendToFile" value="true" />
			
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger.%M - %message%newline"/>
			</layout>
		</appender>
		<!-- タイムラインログの出力先を指定 -->
		<appender name="TimelineAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value=".\logs\Timeline\log_" />
			<!-- ファイル名の日付部分 -->
			<param name="DatePattern" value='yyyyMMdd_HHmmss".log"' />
			<!-- ログ・ファイル名が固定ではないので“false”を指定 -->
			<param name="StaticLogFileName" value="false" />
			<!-- 追加書き込み -->
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %message%newline"/>
			</layout>
		</appender>
		<!--<appender name="TimelineFileAppender" type="log4net.Appender.RollingFileAppender">

		</appender>-->
		<logger name="TimelineLogger">
			<level value="ALL" />
			<appender-ref ref="TimelineAppender" />
			<!--<appender-ref ref="TimelineFileAppender" />-->
		</logger>
		<root>
			<!-- ログのレベルを指定 -->
			<level value="ALL" />
		</root>
	</log4net>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
	</appSettings>
</configuration>