<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<!-- ログの出力先を指定 -->
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value=".\logs\log_" />
			<!-- ファイル名の日付部分 -->
			<param name="DatePattern" value='yyyyMMdd_HHmmss".log"' />
			<!-- 日付ごとにファイルを作成することを指定 -->
			<param name="RollingStyle" value="date" />
			<!-- ログ・ファイル名が固定ではないので“false”を指定 -->
			<param name="StaticLogFileName" value="false" />
			<!-- 追加書き込み -->
			<param name="AppendToFile" value="true" />
			
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger.%M - %message%newline"/>
			</layout>
		</appender>
		<root>
			<!-- ログのレベルを指定 -->
			<level value="ALL" />

			<!-- どのログ出力先を使用するか -->
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
</configuration>